*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}
.hero-section{
    text-align: center;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top:50px ;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;  
    background-color: transparent;
}
.hero-section:hover{
     text-transform: capitalize;
     font-variant: small-caps;
     padding: 5px;
     color: black;
     background-image: url(./img.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: white;
}
h1{
    text-align: center;
}
h1:hover{
     text-decoration: underline;
     font-family: sans-serif ;
     color: darkcyan;
}